<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<tx:advice id="txServiceAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" propagation="SUPPORTS" rollback-for="java.lang.Exception" />
			<tx:method name="get*" propagation="SUPPORTS" rollback-for="java.lang.Exception" />
			<tx:method name="query*" propagation="SUPPORTS" rollback-for="java.lang.Exception" />
			<tx:method name="noTx*" propagation="NOT_SUPPORTED" rollback-for="java.lang.Exception" />
			<tx:method name="newTx*" propagation="REQUIRES_NEW" rollback-for="java.lang.Exception" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<!-- 对service包所有方法的切面配置 -->
		<aop:pointcut id="allServiceMethod" expression="execution(* *..service..*(..))" />
		<aop:advisor pointcut-ref="allServiceMethod" advice-ref="txServiceAdvice" />
	</aop:config>

</beans>